<div class="container py-4">
  <h4 class="recommend-title">Recommend</h4>

  <div class="product-grid">
    <div class="product-card" *ngFor="let product of visibleProducts"
      [routerLink]="['/product-detail', product.productId, product.id]">

      <img [src]="getFirstImage(product)" class="product-img main-img">

      <img *ngIf="getSecondImage(product)" [src]="getSecondImage(product)" class="product-img hover-img">

      <div class="card-body">
        <div class="product-title">{{ product.productName }}</div>

        <div class="price-row">
          <div>
            <span class="price">${{ product.price | number:'1.2-2' }}</span>
          </div>

          <button class="cart-btn" (click)="$event.stopPropagation()">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
        <div class="store-name" style="font-size: 0.75rem; color: #888; margin-top: 4px;">
          Sold by: {{ product.storeName }}
        </div>
      </div>

    </div>
  </div>

  <div class="view-more-wrapper" *ngIf="showViewMore">
    <button class="view-more-btn" (click)="viewMore()">
      View more <i class="fa-solid fa-angle-down"></i>
    </button>
  </div>
</div>