<div class="category-slider">

  <!-- PREV -->
  <button class="arrow prev" *ngIf="enableCarousel" (click)="prev()">
    <i class="fa-solid fa-angle-left"></i>
  </button>

  <!-- TRACK -->
  <div class="slider-track" [style.transform]="'translateX(-' + (currentSlide * 100) + '%)'">

    <div class="slide" *ngFor="let slide of slides">

      <!-- ROW 1 -->
      <div class="row-circles">
        <div class="circle" *ngFor="let cat of slide.slice(0, itemsPerRow)">
          <img
            [src]="cat.imageUrl && cat.imageUrl !== 'string' ? cat.imageUrl : 'https://picsum.photos/seed/' + cat.id + '/110/110'"
            alt="{{ cat.name }}">
          <p>{{ cat.name }}</p>
        </div>
      </div>

      <!-- ROW 2 -->
      <div class="row-circles">
        <div class="circle" *ngFor="let cat of slide.slice(itemsPerRow)">
          <img
            [src]="cat.imageUrl && cat.imageUrl !== 'string' ? cat.imageUrl : 'https://picsum.photos/seed/' + cat.id + '/110/110'"
            alt="{{ cat.name }}">
          <p>{{ cat.name }}</p>
        </div>
      </div>

    </div>


  </div>

  <!-- NEXT -->
  <button class="arrow next" *ngIf="enableCarousel" (click)="next()">
    <i class="fa-solid fa-angle-right"></i>
  </button>

  <div style="font-size: 8px; color: #ccc; position: absolute; bottom: 0; right: 0;">
    Items: {{ categories.length }} | Slides: {{ slides.length }}
  </div>

</div>