<div class="sidebar-wrapper">
    <div class="user-brief">
        <div class="avatar-circle">
            <i class="fa fa-user"></i>
        </div>
        <div class="user-name">Hello, User</div>
    </div>

    <div class="menu-group" *ngFor="let group of menuGroups">
        <h3 class="group-title">{{ group.title }}</h3>
        <ul class="menu-list">
            <li *ngFor="let item of group.items">
                <a [routerLink]="item.route" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact: item.exact}" class="menu-link">
                    {{ item.label }}
                </a>
            </li>
        </ul>
    </div>
</div>